body{
	font-family: 'Source Sans Pro';
}
#main-box{
	border: 15px #bdc3c7 solid;
	margin: 20px auto;
	padding: 20px;
	width: 80%;
	max-width: 700px;
}

.date{
	text-transform: uppercase;
	color: #3498db;
	font-weight: bold;
	letter-spacing: 3px;
}

.head{
	text-transform: capitalize;
	letter-spacing: 2px;
	font-weight: 700;
	color: #2464b7;
}

.border-para{
	border-left: 4px #bdc3c7 solid;
	padding-left: 5px;
}